# Homework 1, ADA2020
## Task 1: Load the data

We start with a docstring:

In [1]:
 '''
 File name: HW1_IB.ipynb
 Author: IB
 Date created: 06/10/2020 (DD/MM/YYYY)
 Date last modified: 06/10/2020 
 Python Version: 3.8.5
 '''

'\nFile name: HW1_IB.ipynb\nAuthor: IB\nDate created: 06/10/2020 (DD/MM/YYYY)\nDate last modified: 06/10/2020 \nPython Version: 3.8.5\n'

Import libraries:

In [2]:
import pandas as pd
import pickle

In [3]:
DATA_PATH = './data/'

ARTICLES_DATA = DATA_PATH+'articles.tsv.gz'
TOPICS_DATA = DATA_PATH+'topics.jsonl.gz'
MAPPING_DATA = DATA_PATH+'mapping.pickle'

COMPRESSION = 'gzip'

In [4]:
# Read datasets
df_articles = pd.read_csv(ARTICLES_DATA, compression=COMPRESSION,sep='\t', error_bad_lines=False) #error_bad_lines --> drop lines with too many fields
df_topics = pd.read_json(TOPICS_DATA, compression=COMPRESSION, lines=True)
mapping_data = pickle.load(open(MAPPING_DATA, "rb"))

b'Skipping line 7: expected 944 fields, saw 945\n'

In [5]:
df_articles.head() #to check the dataframe

,index,2018-01-01 00:00:00,2018-01-02 00:00:00,2018-01-03 00:00:00,2018-01-04 00:00:00,2018-01-05 00:00:00,2018-01-06 00:00:00,2018-01-07 00:00:00,2018-01-08 00:00:00,2018-01-09 00:00:00,...,2020-07-22 00:00:00,2020-07-23 00:00:00,2020-07-24 00:00:00,2020-07-25 00:00:00,2020-07-26 00:00:00,2020-07-27 00:00:00,2020-07-28 00:00:00,2020-07-29 00:00:00,2020-07-30 00:00:00,2020-07-31 00:00:00
0,Khulna,0,2,1,0,0,2,0,2,0,...,0,1,1,0,1,1,0,2,1,2
1,Karim_Ansarifard,1,5,1,1,1,3,6,4,5,...,2,2,0,1,2,0,1,0,0,0
2,Poldhu,0,0,1,1,0,1,0,2,2,...,0,2,2,0,0,0,2,1,2,1
3,Alice_(The_Sisters_of_Mercy),0,1,0,0,1,1,1,1,0,...,0,0,0,0,0,1,0,0,0,0
4,Palmyra,1,4,0,0,0,2,11,2,0,...,0,0,1,0,0,0,1,0,0,0

In [6]:
type(df_topics)

pandas.core.frame.DataFrame

In [7]:
df_topics.head()

,index,Geography.Regions.Asia.Central Asia,Geography.Regions.Europe.Eastern Europe,History and Society.Military and warfare,Culture.Media.Television,History and Society.Education,Culture.Media.Books,Geography.Regions.Africa.Africa*,Culture.Visual arts.Architecture,Culture.Biography.Women,...,STEM.Mathematics,Geography.Regions.Asia.West Asia,STEM.Chemistry,Geography.Regions.Europe.Northern Europe,Culture.Media.Video games,Geography.Regions.Asia.Southeast Asia,Culture.Media.Entertainment,Culture.Media.Music,Geography.Regions.Asia.Asia*,Geography.Regions.Asia.North Asia
0,Chinese_food_therapy,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,Battle_of_Naissus,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Battle_of_Stoke_Field,False,False,True,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3,Smooth_newt,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Vicente_Aleixandre,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
type(mapping_data)

dict

## Task2: Filtering the data

In [18]:
### Task 2.1 starts here
df_articles.loc[175:185] #check out some lines

,index,2018-01-01 00:00:00,2018-01-02 00:00:00,2018-01-03 00:00:00,2018-01-04 00:00:00,2018-01-05 00:00:00,2018-01-06 00:00:00,2018-01-07 00:00:00,2018-01-08 00:00:00,2018-01-09 00:00:00,...,2020-07-22 00:00:00,2020-07-23 00:00:00,2020-07-24 00:00:00,2020-07-25 00:00:00,2020-07-26 00:00:00,2020-07-27 00:00:00,2020-07-28 00:00:00,2020-07-29 00:00:00,2020-07-30 00:00:00,2020-07-31 00:00:00
175,Cast_delle_Simpatiche_canaglie,2,2,1,3,0,3,5,1,4,...,4,1,12,2,0,1,0,0,1,0
176,Juan_Eugenio_Hartzenbusch,0,2,1,0,0,1,0,0,3,...,0,0,0,0,2,0,0,0,0,2
177,Lampada_ad_arco,4,10,5,6,9,12,13,15,8,...,7,4,0,1,3,6,1,4,3,2
178,Achille_Majocchi,0,0,0,0,2,0,2,0,0,...,1,1,0,0,0,0,0,0,1,0
179,Olympus_E-P1,1,0,2,1,0,2,1,1,0,...,0,0,1,0,0,1,0,0,0,0
180,Discussione:Jitter,21,41,42,55,51,31,31,39,60,...,32,34,28,17,13,34,33,16,21,21
181,Allsvenskan_1997,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
182,Carmi,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,3,0
183,Else_Alfelt,0,0,1,1,0,0,0,0,0,...,0,0,1,0,2,0,0,0,0,0
184,New_York_Navy_Yard,0,1,0,0,0,1,0,0,2,...,0,0,0,0,0,0,0,1,0,0
185,KÃ©vin_RÃ©za,0,2,0,0,1,2,0,2,0,...,0,0,0,0,0,0,0,0,0,2

Indeed, line 180 seems to be odd. We need to filter them out.

In [47]:
#Find all lines where index starts with 'Discussione'
df_articles[df_articles['index'].apply(lambda x: x.startswith('Discussione'))]

,index,2018-01-01 00:00:00,2018-01-02 00:00:00,2018-01-03 00:00:00,2018-01-04 00:00:00,2018-01-05 00:00:00,2018-01-06 00:00:00,2018-01-07 00:00:00,2018-01-08 00:00:00,2018-01-09 00:00:00,...,2020-07-22 00:00:00,2020-07-23 00:00:00,2020-07-24 00:00:00,2020-07-25 00:00:00,2020-07-26 00:00:00,2020-07-27 00:00:00,2020-07-28 00:00:00,2020-07-29 00:00:00,2020-07-30 00:00:00,2020-07-31 00:00:00
180,Discussione:Jitter,21,41,42,55,51,31,31,39,60,...,32,34,28,17,13,34,33,16,21,21
285,Discussione:Rivoluzione_egiziana_del_1919,1,0,1,1,3,4,3,1,1,...,4,0,0,0,0,1,0,3,6,4
291,Discussione:Celebes_editore,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
296,Discussione:First_Rays_of_the_New_Rising_Sun,3,1,1,2,3,6,1,1,2,...,0,3,1,0,1,1,2,1,1,5
327,Discussione:Toby_Young,4,4,11,10,5,2,3,3,10,...,0,0,0,0,0,3,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56280,Discussione:Episodi_di_Merlin_(quinta_stagione),24,61,72,73,78,66,70,76,129,...,14,13,12,12,22,16,20,16,12,21
56469,Discussione:Liceo_statale_Gian_Domenico_Cassini,1,0,2,0,0,0,1,1,1,...,0,0,0,0,1,0,0,0,1,0
56511,Discussione:Revolution_Is_My_Name,0,1,1,0,0,1,0,0,0,...,0,2,0,1,0,0,2,1,1,0
56631,Discussione:Kevin_Macdonald_(regista),0,0,0,0,0,0,0,0,0,...,10,7,45,18,11,5,5,4,3,3
56771,Discussione:JosÃ©_Pesarrodona,0,2,0,0,0,1,0,2,0,...,2,3,0,1,0,0,0,0,0,0

In [49]:
#Filter bad rows
df_articles_filtered=df_articles[~(df_articles['index'].apply(lambda x: x.startswith('Discussione')))]

In [52]:
#Find size of unfiltered df
df_articles.shape

(56791, 944)

In [53]:
# Check size of filtered df
df_articles_filtered.shape

(55791, 944)

1000 rows have been sorted out.

## Task 3: Understanding the data

In [58]:
### Task 3.1.1
# Find the number of articles
len(df_articles_filtered.index)

55791

In [59]:
#find the number of topics
len(df_topics.index)

35611